#my-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  border-width: 0px 0px 1px 0px;
  border-style: dotted;
  border-color: black;
  margin-bottom: 10px;
}

#list-games-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#list-games-buttons button {
  margin: 10px 0px;
  width: 200px;
}
